<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_SV.Properties.Settings.QL_SVConnectionString" connectionString="Data Source=VTN\VTN;Initial Catalog=QL_SV;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QL_SV.Properties.Settings.QL_SVConnectionString1" connectionString="Data Source=VTN\VTN1;Initial Catalog=QL_SV;Persist Security Info=True;User ID=SON_CNTT;Password=123" providerName="System.Data.SqlClient"/>
        <add name="QL_SV.Properties.Settings.QL_SVConnectionString2" connectionString="Data Source=VTN\VTN1;Initial Catalog=QL_SV;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QL_SV.Properties.Settings.QL_SVConnectionString3" connectionString="Data Source=VTN\VTN1;Initial Catalog=QL_SV;User ID=HUY_CNTT;Password=123" providerName="System.Data.SqlClient"/>
        <add name="QL_SV.Properties.Settings.QL_SVConnectionString4" connectionString="Data Source=VTN\VTN3;Initial Catalog=QL_SV;User ID=A_HP" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
